*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #001946 ;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    
}
header{    
    background-color: #278099;
}
nav{
    margin: 0px 10%;
    padding: 20px 0px 20px 0px;
    width:30%;
}

ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
    padding:10px 0px;
}

li{
    background-color: #001946;
    padding:10px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
}
li:hover{
    background-color: #EFC24F ;

}
li:hover a{
    color: #000000;
}
a{
    text-decoration: none;
    color: white;    
}
h1, h3{
    color: white;
    text-align: center;
}
.main-content{
    margin:20px 150px;
    padding:10px;
}
.hero-section{
    display :flex;
    justify-content: space-evenly;
    border-radius:10px;
    padding: 10px;    
    background-color: #278099;
    margin: 10px;
}
.bio{
    background-color: #001946;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin:10px;
}
.bio-text{
    width: 80%;
    padding:10px;
    color: #FFFFFF;
    background-color: #001946;
    
}
.skills-container{
    display:flex;
    flex-direction: column;
    width: 50%;    
    padding:10px;    
    background-color: #001946;
    color: white;
    border-radius: 10px;
    margin: 10px;
}
.skills-container h2{
    padding:0px 5px;
    margin:0px 5px;
}
.profile-img{
    width:calc(400px /1.25);
    height:calc(350px /1.25);
    border-radius: 50%;
    border: 5px solid #EFC24F;    
}

.skill-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    
       
}
.skill{
    width:30%;
    background-color: #278099;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.projects-summary{
    display :flex;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 10px;
    background-color: #278099;
    color: white;
    margin:10px;
    
    
}
.projects-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding:10px;
    background-color: #001946;
    border-radius: 10px;
    width:100%;
    margin:10px;
}
.projects-container h2{
    padding:0px 5px;
    margin:0px 20px;

    
}
.project-list{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

}
.project{
    background-color: #278099;
    padding: 10px;
    border-radius: 10px;
    margin:10px;
}
.project img{
    width:100%;
    height: auto;
    border-radius: 10px;
}
.project h2{
    padding:10px 5px;
    margin:0px;
}
footer{
    background-color: #278099;
    text-align: center;
    padding: 20px;
    color:#ffffff;
    margin-top: auto;
    
    
    

}